<h1> Welcome to Viewing Party </h1>

<p><%= button_to "New User", register_path, method: :get, :class => "discover" %></p>
<p><%= link_to "Log In", login_path, :class => "discover" %></p>

<h3>Current Users:</h3>
<% @users.each do |user| %>
  <p><%= link_to "#{user.name}", "/users/#{user.id}", method: :get, :class => "user" %></p>
<% end %>
