<h1> Welcome to Viewing Party </h1>

<% if current_user %>
  <%= button_to "Log Out", logout_path, method: :delete %>

<% else %>
	<%= button_to "Register as a User", register_path, method: :get, :class => "discover" %> 
	<br>
	<%= button_to "I already have an account", login_path, method: :get, :class => "discover" %>
<% end %>
<br>