<h1> Welcome to Viewing Party </h1>

<%= button_to "New User", register_path, method: :get, :class => "discover" %>

<% @users.each do |user| %>
  <p><%= link_to "#{user.name}", "/users/#{user.id}", method: :get, :class => "user" %></p>
<% end %>