<h1>Movies Index Page</h1>

<ul id="top-rated">
<h3>Top Rated Movies</h3>
<% @movies.each do |movie| %>
	<li> <%= link_to movie.title, "/users/#{@user.id}/movies/#{movie.id}" %></li>
<% end %>
</ul>
<h3>Search Movies</h3>

