<h1>Please Log in!</h1>

<form action="/login" method="post" onsubmit="return validateForm()">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="email">Email:</label>
	<input type="email" name="user[email]" id="email", value="<%= @user.email %>">

	<label for="password">Password:</label>
	<input type="password" name="user[password]" id="password">	
	

	<input type="submit" value="Log In", class="discover">
</form>

