/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  text-align: center;
}

h3 {
	text-align: center;
}


form {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

body {
  font-family: Helvetica;
  padding: 20px;
}

img {
  max-width: 200px;
  height: auto;
}

#movies img {
	max-width: 400px;
}

li {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0;
	width: 50%;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

a {
  align-items: center;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  background-color: #4b8ae9;
  color: hwb(0 100% 0%);
  border: white;
  border-radius: 6px;
	margin: 1%;
	transition: 0.3s;
}

#movies a {
	margin-bottom: 0;
	background-color: #ffffff;
}

a:hover {
	background-color: #3b6fc1;
}

.discover {
  align-items: center;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  background-color: #4b8ae9;
  color: #fcfcfc;
  border: white;
  border-radius: 6px;
	transition: 0.3s;
}

.discover:hover {
	background-color: #3b6fc1;
}

.user {
  align-items: center;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  background-color: #ffffff;
  color: #767575;
  border: white;
  border-radius: 6px;
}

#movies {
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
}